html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#app-wrapper{
  margin: 20px;
  max-width: 1200px;
  @media (min-width: 850px) {
    margin: 20px auto;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

:root {
  --col-green: #3b8070;
  --col-grey: #bababa;
  --col-dark-grey: #303030;
  --col-purple: #7a4b8d;
  --col-red: #812323;
}

h2{
  font-size: 3rem;
  margin-bottom: 20px;
}

h3{
  font-size: 2rem;
  margin-bottom: 20px;
}

.clickable{
  cursor: pointer;
  &:hover{
    color: var(--col-green);
  }
}

.completed{
  color: var(--col-grey);
  text-decoration: line-through;
}

.font-icon{
  display: inline;
}


.input-wrapper {
  margin: 10px 0;

  label {
    display: block;
    font-weight: bold;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--col-grey);
    font: inherit;
    padding: 5px;
  }

  input:focus,
  textarea:focus {
    border: 1px solid var(--col-green);
    outline: none;
  }

}
